services:
  db:
    image: postgres:latest
    volumes:
      - greengo_postgres_data_volume:/var/lib/postgresql
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    volumes:
      - greengo_redis_data_volume:/data
    ports:
      - "6379:6379"

volumes:
  greengo_postgres_data_volume:
  greengo_redis_data_volume: