{% extends "shop/base.html" %}
    {% block content %}
    <div class="content-container">
        <div class="politika-page">
            <h1 class="politika-name">Рекламација</h1>
            <p class="politika-point"><strong>1.1 Кога имам право на рекламација?</strong></p>
            <p class="politika-description"> Доколку примениот производ не е во согласност со описот на нашата веб-страница, е видно оштетен или не работи правилно, имате право законски да горекламирате во рок од 15 дена од приемот на пакетот.</p>
            <p class="politika-point"><strong>1.2 Дали има некакви трошоци за рекламација?</strong></p>
            <p class="politika-description">Доколку откриеме дека рекламацијата е оправдана, купувачот нема дополнителни трошоци за испорака. Доколку приговорот е неоправдан, трошоците за испорака паѓаат на товар на купувачот.</p>
            <p class="politika-point"><strong>1.3 Која е постапката за рекламација?</strong></p>
            <p class="politika-description">Кога ќе одлучите да рекламирате одреден производ, потребно е писмено да не известите преку е-пошта contact@extrapopust.com или во порака преку нашата Facebook страница на следниот линк: facebook.com/extrapopust.com</p>
            <p class="politika-point"><strong>Потребни податоци за рекламација:</strong></p>
            <p class="politika-description politika-description-listed">
            <strong>1.</strong> Име и презиме на клиентот<br>
            <strong>2.</strong> Број на пакет (ќе го најдете под назив Tracking number под QR кодот на адресницата ЛЕВО)<br>
            <strong>3.</strong> Датум кога е направена нарачката<br>
            <strong>4.</strong> Назив на нарачаниот продукт<br>
            <strong>5.</strong> Причина за рекламација<br>
            <strong>6.</strong> Најмалку 3 фотографии или видео (во случај на дефект или оштетен продукт)
            </p>
            <p class="politika-description">Доколку рекламацијата е оправдана, имате право да изберете: враќање на средства (рефундација) или да ви испратиме нов производ (замена). Производот потоа треба да биде добро спакуван, обезбеден и даден на курир кој ви носи нова пратка (замена / рефундација). Доставата ја плаќаме ние.</p>
            <p class="politika-description">Доколку рекламацијата не е оправдана, а производот и оригиналното пакување не се оштетени, имате право да изберете: враќање на средства (рефундација) или да ви испратиме нов производ или друг производ со иста цена (замена). Доставата ја плаќате вие.</p>
        </div>
    </div>
    {% endblock content %}