{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if heading %}
    <title>{{heading}} - ShopManager</title>
    {% else %}
    <title>ShopManager - Promotivno</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'shop/css/shopmanager.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
    {% include 'shop/shopmanager/includes/sh_header.html' %} 
    <div class="page-container">
    {% block content %}{% endblock content %}
    </div>
    {% include 'shop/shopmanager/includes/sh_footer.html' %}
    
    <script src="{%  static 'shop/js/shopmanager.js' %}"></script>
</body>
</html>
