
:root{
    --green: #00703D;
    --black: #0f0f0f;
    --red: #FF8C01;
    --regular-price: #808080;
    --footer-gray: #2b2b2b;
}
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;  
}
body{
    margin:0;
    padding:0;  
}
a {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: inherit; /* no underline */
  }
a img {
    padding: 0;
    margin: 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
  }
button{
    touch-action: manipulation;
}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type]{
    -webkit-appearance: none;
    border-radius: 0;
    appearance: none;
    -webkit-border-radius:0px;
    touch-action: manipulation;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    appearance: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    appearance: textfield;
    -moz-appearance:textfield; /* Firefox */
}
.filter-white{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
   }
#header{
    height: 110px;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 0px 2px 2px -2px rgb(0 0 0 / 50%);
    z-index:1000;
}

#header-banner{
    background: var(--green);
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.4em 0em;
}

#header-banner .banner-text{
    text-decoration: none;
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    font-weight: 500;
    padding-right: 5px;

}
#header-banner a{
    text-decoration: none;
}
.header-info{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0px;
    background-color: var(--black);
    color: white;
}
.image-icon{
    display: inline-block;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
}
.top-icon{
    vertical-align: middle;
    margin-right: 10px;
}
.banner-icon{
    color: white;
}
.inner-header{
    max-width: 1160px;
    display:flex;
    align-self: center;
    align-items:center;
    justify-content: flex-start;

}
.inner-header.checkout{
    width: 1160px;
}
/*
.header-logo-link{
    display:flex;
}
*/

.header-logo-img{
    width:280px;
}

.header-search input[type=text]{
    width: 480px;
    height:50px;
    padding-right:20px;
    border: 0;
    background: #eceeef;
    border-radius: 4px 0px 0px 4px;
}

.search_button:hover{
    cursor:pointer;
}

.header-search button{
    height:50px;
    width:50px;
    margin-left: -5px;
    background: #0f0f0f;
    color: white;
    border: 0;
    border-radius: 0px 4px 4px 0px;
    margin-right: 20px;
    padding-top: 1px;
}

.header-search button:hover{
    background: var(--green);
}

.material-symbols-outlined{
    font-size:24px!important;
}



.header-icon:hover{
    cursor: pointer;
}

.header-icon{
    padding: 10px;
    flex-grow: 2
}
.header-menu{
    display: flex;
    
    justify-content: center;
}
#sidecart{
    width: 400px;
    height: 100%;
    position: fixed;
    right:0;
    background: white;
    top: 0;
    transform: scaleX(0);     
    transform-origin: right;
    overflow-y: hidden;
    transition: 100ms linear;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    overflow-y: auto;
    cursor: default;
}
.progress-bar-text{
    font-size:12px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
}
.progress {
    padding: 2px;
    max-width: 500px;
    border: 3px solid var(--green);
    height: 20px;
    margin: 0px 20px;
  }
  
  .progress .progress__bar {
    height: 100%;
    background-color: var(--green);
    
  }
  .progress .progress_bar-half{
    width: 50%;
  }
  .progress .progress_bar-full{
    /* animation: fill-bar-full 1s; */
    width: 100%;
  }
  .progress .progress_bar-empty{
    width: 0%;
  }
  
  @keyframes fill-bar-zero-to-half {
    from {width: 0%;}
    to {width: 50%;}
  }
  @keyframes fill-bar-full {
    from {width: 50%;}
    to {width: 100%;}
  }
  @keyframes fill-bar-full-to-half {
    from {width: 100%;}
    to {width: 50%;}
  }
  @keyframes fill-bar-half-to-zero {
    from {width: 50%;}
    to {width: 100%;}
  }
#cart-count{
    position:absolute;
    min-width: 1.6em;
    height: 1.6em;
    border-radius: 100%;
    background-color: #d9534f;
    color: white;
    font-size: 10px;
    text-align:center;
    font-weight: 600;
    margin-left: -1em;
    margin-top: -0.7em;
    
}
.sidecart-active{
    transform: ScaleX(1)!important;
    transition: 100ms linear!important;
    z-index: 100000000000;
}
.lightbox{
    display: none;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.25);
    z-index: 1000000000;
    transform:scale(0);
    transition: background-color .4s;
}
.lightbox-active{
    display:block;
    transform: ScaleX(1)!important;
    transition: 100ms linear!important;
}
.lightbox-search{
    background-color: rgb(0 0 0 / 85%);
    overflow-y: hidden;
}
.close-search{
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: white;
    z-index:100000;
}
.lightbox .disabled{
    display:none;
}
.sidecart-inner{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    
}
.cart-close{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
.cart-close:hover{
    cursor: pointer;
}
#close-cart{
    font-size: 20px;
    color: #abaeb4;
    padding: 5px 20px;
}
.sidecart-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #0f0f0f;
    padding: 20px 0px;
    margin: 0px 20px;
}
.sidecart-inner a:nth-last-child(1){
    border: none;
}
.sidecart-inner a:nth-last-child(4){
    border: none!important;
}
.sidecart-item-name{
    font-size: 14px;
    font-weight: 600;
    word-break: break-word
}

.sidecart-item-quantity{
    font-weight: 600;
    font-size: 14px;
}

.sidecart-total{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;   
}
.cart-offers{
    padding: 15px 0px;
    background: #e6f1ec;
}

.cart-offers-text{
    font-size: 13px;
    font-weight: 500;
    margin: 0px 20px;

}
.sidecart-offer-item{
    padding: 8px 0px;
    border-color: #abaeb4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sidecart-offer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.sidecart-offer-item .sidecart-item-quantity{
    font-size: 12px;
    display: inline;
    padding-right: 5px;
}
.sidecartOffer-text{
    display: inline;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 600;
    background-color: var(--red);
    color: white;
    border-radius: 5px;
    animation: nudge 4s linear infinite;
}
@keyframes nudge {
    
    0% {
      transform: rotate(-4deg) scale(1.02);
    }
    
    5% {
      transform: rotate(4deg) scale(1.04);
    }
    
    10% {
      transform: rotate(-4deg) scale(1.07);
    }
    15%{
        transform: scale(1);
    }
}
.sidecartOfferBtn{
    padding: 8px!important;
    display: block!important;
    height: auto!important;
    margin: 0!important;
    font-size: 12px!important;
    width: auto!important;
    margin-left: auto!important;
    margin-top: auto!important;
    cursor: pointer;
    background-color: white;
    color: var(--red);
    border-radius: 30px;
    font-weight: 600;
    border: 1px solid var(--red);

}

.checkout-offers{
    margin-top: 20px;
}
.checkoutOffers-title{
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}
.checkout-offerItem{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0px 5px!important
}
.checkoutItem-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.checkout-item-before-price{
    text-decoration: line-through;
    font-size: 12px;
    display: inline-block;
    color: #abaeb4;
}
.checkout-offerItem .green{
    font-weight: 600;
    font-size: 14px;
    text-decoration: none!important;
    padding-left: 5px;
}
.checkout-offer-qty-holder{
    flex-basis: 100%;
}
.checkoutOffer-text{
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 600;
    background-color: var(--red);
    border-radius: 5px;
    color: white;
    display:block;
    animation: nudge 4s linear infinite;
}
.checkout-offerBtn{
    padding: 10px!important;
    display: block!important;
    height: auto!important;
    margin: 0!important;
    font-size: 12px!important;
    width: auto!important;
    margin-left: auto!important;
    margin-top: auto!important;
    background-color: white;
    border: 1px solid var(--red);
    color: var(--red)!important;
    font-weight: 600!important;
    border-radius: 30px;
}

.dropdownsearch{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .options{
    width:100%;  
  }
select {
      display: none !important;
  }
  
  .dropdown-select {
      background-color: #fff;
      border-radius: 30px;
      border: solid 1px #abaeb4;
      cursor: pointer;
      display: block;
      font-size: 14px;
      font-weight: normal;
      height: 38px;
      line-height: 35px;
      outline: none;
      padding-left: 16px;
      padding-right: 30px;
      position: relative;
      text-align: left !important;
      transition: all 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      width: auto;
  
  }
  
  .dropdown-select:focus {
      background-color: #fff;
  }
  
  .dropdown-select:hover {
      background-color: #fff;
  }
  
  .dropdown-select:active,
  .dropdown-select.open {
      background-color: #fff !important;
      border-color: #abaeb4;;
  }
  
  .dropdown-select:after {
      height: 0;
      width: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #abaeb4;
      -webkit-transform: origin(50% 20%);
      transform: origin(50% 20%);
      transition: all 0.125s ease-in-out;
      content: '';
      display: block;
      margin-top: -2px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 50%;
  }
  
  .dropdown-select.open:after {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }
  
  .dropdown-select.open .list {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
  }
  
  .dropdown-select.open .option {
      cursor: pointer;
  }
  
  .dropdown-select.wide {
      width: 100%;
  }
  
  .dropdown-select.wide .list {
      left: 0 !important;
      right: 0 !important;
  }
  
  .dropdown-select .list {
      box-sizing: border-box;
      transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
      background-color: #fff;
      border-radius: 6px;
      margin-top: 4px;
      padding: 3px 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      max-height: 250px;
      overflow: auto;
      border: 1px solid #ddd;
  }
  
  .dropdown-select .list:hover .option:not(:hover) {
      background-color: transparent !important;
  }
  .dropdown-select .dd-search{
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0.5rem;
  }
  
  .dropdown-select .dd-searchbox{
    width:90%;
    padding:0.5rem;
    border:1px solid #abaeb4;
    border-color:#abaeb4;
    border-radius:4px;
    outline:none;
  }
  .dropdown-select .dd-searchbox:focus{
    border-color: #b8eb00!important;
  }
  
  .dropdown-select .list ul {
      padding: 0;
  }
  
  .dropdown-select .option {
      cursor: default;
      font-weight: 400;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 29px;
      text-align: left;
      transition: all 0.2s;
      list-style: none;
  }
  
  .dropdown-select .option:hover,
  .dropdown-select .option:focus {
      background-color: #abaeb4 !important;
  }
  
  .dropdown-select .option.selected {
      font-weight: 600;
      color: #b8eb00;
  }
  
  .dropdown-select .option.selected:focus {
        background-color: #f6f6f6 !important;
  }
  
  .dropdown-select a {
      color: #aaa;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
  }
  
  .dropdown-select a:hover {
      color: #666;
  }
.red{
    color: var(--red);
}
.strong{
    font-weight: 900;
}
.sidecart-Button{
    border:0;
}
.sidecartCheckout{
    margin-bottom: 0!important;
    font-size: 14.5px;
}
.sidecart-item.notice{
    border:0;
}

.cart-notice{
    font-size: 14px;
    font-weight: 600;
}
.green{
    color:var(--red);
}

#navigation{
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    position:absolute;
    background: white;
    transform: scaleY(0);   
    transform-origin: top;
    overflow-y: hidden;
    transition: 200ms linear;
    left: 0;
}
#navigation ol{
    list-style-type: none;
    list-style: none
}
#navigation li{
    list-style: none;
    list-style: none;
}
#navigation.active{
    color: var(--green);
    display:block;
    transform: scaleY(1);
    transition : 150ms transform ease-in; 
    z-index: 10000000000;
}
.navigation-item{
    padding: 10px 20px;
}
.navigation-title{
    color: black;
    text-decoration: none;   
}
.navigation-title:hover{
    color: var(--green);
}


#footer{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;

    background: var(--black);
}

.footer-inner{
    max-width: 1160px;
    display:flex;
    align-self: center;
    align-items:center;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
    text-align: center;
}
.footer-item{
    display: flex;
    flex: 0 0 33.33333%;
    flex-direction: column;
    padding: 10px;
}
.footer-icon{
    margin-bottom:15px;
}
.footer-item h3{
    font-size: 24px;
    margin-top: 8px;
    margin-bottom:16px;
    font-weight:600;
}

.footer-item a[href]{
    color:white;
    text-decoration: none;
    line-height: 32px;
}

.horizontal-line{
    flex-basis: 48%;
    margin-top: 30px;
    margin-bottom: 35px;
}

.footer-social-icons{
    flex-basis:100%;
    gap: 15px;
}
.footer-social-icons a[href]{
    color: white;
    margin-right: 10px;
}
.footer-section{
    background: #2b2b2b;
    padding: 5px 0px 50px 0px;
    display:flex;
    justify-content:center;
    align-items: center;

}

.footer-section p{
    margin-top: 25px;
    margin-bottom: 16px;
}
.footer-section h4{
    font-weight: 500;
}

.page-container{
    display:flex;
    justify-content: center;
}

.content-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width:1180px;
    padding-top:30px;
    padding-bottom: 30px;
}

.product{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 45px;
    text-align: center;
}
.product-feed-thumbnail{
    margin-bottom: 16px;
    border-radius: 5px;
}
.product-link{
    margin-bottom: 0.5em;
}
.product-feed-title{
    font-size: 1em;
    padding: 8px 0px;
    word-break: break-word;
    max-width:240px;
}
.product-feed-price{
    margin-bottom: 0.5em;
}
.product-feed-regular-price{
    display:inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
    text-decoration: line-through;
    color: var(--regular-price);
}
.product-feed-sale-price{
    display:inline-block;
    font-size: 18px;
    font-weight: 600;
    color: var(--red);

}
.badges-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eceeef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.badge-item{
    flex-basis: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.badge-text{
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}
.toggle-content ul {
    padding: 0px 15px;
}
.toggle-content ol {
    padding: 0px 15px;
}
.toggle-content img {
    max-width: 100%;
    max-height: 100%;
    width: auto!important;
    height: auto!important;
}
.toggle-content.main-toggle {
    display: block;
}
  /* Stocks Container  */
  .last-stocks-container-function-wrapper {
    display: flex;
  }
  .last-stocks-container {
    display: flex;
    /* align-items: center; */
  }
  .last-stocks-sub-container {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .last-stocks-sub-container img {
    object-fit: contain;
    height: 250px;
    color: transparent!important;
  }

  .slide .slider-title{
    height: 90px;
  }
  .slide-title{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }
  
/*endslider */

.product-savings{
    padding: 5px 10px;
    background: var(--green);
    border-radius: 30px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
}



.ckeditor-html5-video video{
    max-width: 100%;
    height: auto;
}


.pagination{
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-numbers {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    padding: 10px 10px;
}
.page-numbers.paginator-end{
    font-size: 26px;
    font-weight: 600;

}
.page-numbers.paginator-arrow{
    font-size: 24px;
    
}

.page-numbers:hover{
    background: var(--black);
    color: white;
}

.page-active{
    background: var(--black);
    color: white;
}

/* Politika Page */
    .politika-page{
        margin: auto;
    }
    .politika-name{
        font-size: 40px;
        display:block;
        margin-bottom: 16px;
    }
    .politika-point{
        display:block;
        margin-bottom: 14px;
    }
    .politika-description{
        display:block;
        margin-bottom: 14px;
    }


/* EndPolitika Page */


/* Checkout */
.content-container.checkout{
    justify-content: space-between;
}
.col-1{
    flex-basis: 48%;
    padding-bottom: 20px;
}
.col-2.offer-col{
    height: 0;
}
.col-2{
    flex-basis: 48%;
}
.checkout-title{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
}
#FieldList li{
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}
#FieldList input{
    width: 100%;
    padding: 8px 16px;
    border-radius: 30px;
    border: 1px solid #abaeb4;
    font-size: 16px;
}
#FieldList label{
    display: block;
    font-size: 16px;
    font-weight: 500; 
    padding-bottom: 6px;
}
.col-1.checkoutform{
    padding-bottom: 0px;
    padding-top: 0px;
}
.col-1.checkout-fees-container{
    padding-top: 20px;
}
.checkout-fees{
    border:1px solid #abaeb4;
    padding:10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.checkout-fees.active{
    border: 1px solid #0f0f0f;
}
.fee-toggle{
    flex: 1;
}
.fee-description{
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    flex-basis: 100%;
    display: none;
}
.fee-add{
    display: inline-block;
    padding:10px;
    border: 0;
    border-radius: 30px;

    background: white;
    color:var(--red);
    border: 1px solid var(--red);
    font-weight:600;
	margin-left:10px;
    cursor: pointer;
}
.fee-add:hover{
    background-color: var(--red);
}
.fee-icon{
    display: inline-block;
    font-size: 22px;
    padding-right: 10px;
    font-weight: 800;
    text-orientation: sideways-right;  
    transition: 300ms linear;
}
.fee-icon.active{
    transform: rotate(90deg);
    transition : 300ms transform ease-in; 
   
    
}
.fee-title{
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}
.fee-price{
    color: var(--red);
    font-size: 16px;
    margin: 0;
    display: inline-block;
    font-weight: 500;
}

#order_comments{
    width: 100%;
    height: 100px;
    border-radius: 30px;
    border: 1px solid #abaeb4;
    padding: 15px;
    resize: vertical;
}

.required{
    text-decoration: none;
    color:red;
}

#order_review_heading{
    font-size: 28px;
    font-weight: 500;
    width: 100%;
}
#order_review{
    flex-basis: 100%;
    margin-bottom: 24px;
}
.order-review-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
}

.order-review-table tr:not(.cart-total){
    border-bottom: 1px solid #abaeb4;
}
.order-review-table td{
    padding: 9px 12px;
   
}
.cart-fees td:nth-child(2){
    font-weight: 500;
}
.checkout-row-inline{
    display: inline-block;
    word-break: break-word;
}
.checkout-row-inline.name{
    margin-right: 10px;
}
.quantity.checkout-row-inline{
    margin-bottom: 0;
    min-width: 15%;
}
.stock-notice{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;

}
.stock-number{
    color: var(--red)
}

.remove-item{
    color: red;
    font-weight: 700;
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}
.sidecart-remove-item.remove-item{
    border: 1px solid #abaeb4;
    border-radius: 50%;
    font-size: 8px;
    color: #abaeb4;
    padding: 5px 8px;
    margin-left: auto;
    margin-top: auto;
    transition: color  0.2s ease;
    transition: border 0.2s ease;
    text-decoration: none;
}
.sidecart-remove-item:hover{
    color: var(--black);
    border-color: var(--black);
    transition: color 0.2s ease;
    transition: border 0.2s ease;
}
.item-name, .item-total, .cart-shipping-method, .cart-provision-sum{
    font-weight: 500;
}

#payment{
    flex-basis: 100%;
    border-radius: 30px;
    border: 1px solid #abaeb4;
}
.payment-text{
    padding: 16px;
    border-bottom: 1px solid #abaeb4;
    font-weight: 500;
}
.payment-method{
    padding: 15px;
    margin: 15px 0px;
    color:white;
    background-color: #0f0f0f;
    border-radius:60px;
}
.place_order-section{
    padding: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.place_order-section p{
    padding: 25px 20px 0px 20px;
    font-size: 12px;
    display:inline-block;
    cursor: pointer;
}
#place_order{
    padding: 14px 35px;
    background-color: var(--red);
    border-radius: 60px;
    border: 0;
    color: white;
    font-weight: 600;
    align-self: center;
}
.checkout-dostava.active, .checkout-garancija.active{
    color:var(--green);
}
.checkout-dostava-content, .checkout-garancija-content{
    padding-top: 16px;
    line-height: 24px;
    display: none;
}

.no-cart{
    min-height: 600px;
    padding-top: 15px;
    display:center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    
    
}
.no-cart-title{
    font-size: 16px;
    font-weight: 600;
    padding: 16px 40px;
    background-color: #f7f6f7;
    border-top: 3px solid var(--green);
}
.no-cartBtn{
    margin-top: 15px;
    padding: 15px;
    border-radius: 30px;
    display:block;
    background-color:#B8EB00;
    color:white;
    font-weight: 600;
}
/* Product Page */
.col-1.product-page{
    padding: 10px;
    flex-basis: 49%;
    width: 49%;
}
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 5px;
    z-index: 1
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 10px;

}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dots
{
    position: absolute;
    bottom: 5px;
    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 10px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: var(--black);
    border-radius: 50%;
    opacity: 0.5;
}
.slick-dots .slick-active button{
    opacity: 1;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: black;
}
.slick-next::before{
    background: url(https://greengoshop.mk/static/icons/chevron-right.svg) no-repeat;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
}
.slick-prev::before{
    background: url(https://greengoshop.mk/static/icons/chevron-left.svg) no-repeat;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    
}
.gallery-navigation{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-navigation img {
    border: 2px solid #abaeb4;
    cursor: pointer;
}
.active-gallery-item{
    border: 2px solid var(--black)!important;
}
.verified-product-image{
    position: absolute;
    bottom: 25px;
    text-align: center;
    width: 550px;
    font-weight: 600;
    font-size: 14px;
}
.slider-wrapper{
    width: 100%;
    text-align: center;
}
.slide .sliderBtn {
    width: auto;
}
.slider-wrapper .slick-prev, .slider-wrapper .slick-next{
    border: 1px solid #abaeb4;
    height: 85px;
    width: 30px;
    border-radius: 5px;
    top: 40%;
    background: white;
    opacity: 0.8
}
.slider-wrapper .slick-prev::before, .slider-wrapper .slick-next::before{
    margin-left: 5px;
}
.slider-wrapper .slick-prev:hover,.slider-wrapper .slick-prev:focus,.slider-wrapper .slick-next:hover{
    opacity: 1;
}
.slider-holder{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}
#slider2, #slider3{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}
.slider-holder.slick-initialized, #slider2.slick-initialized, #slider3.slick-initialized {
    visibility: visible;
    opacity: 1;    
}
.phone-sticky{
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: var(--black);
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: -4vw;
    z-index: 999;
}
.stickyBtn{
    position: fixed;
    bottom: 0;
    margin: 0!important;
    border-radius: 0!important;
    display: none;
    z-index: 999;
}
.product-page .product-sale-badge{
    top: 2%;
    right: 3.5%;
    z-index: 10;
}
.product-sale-badge{
    position: absolute;
    top: -5%;
    right: -10%;
    width: 64px;
    height: 64px;
    background-color: #00703d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
}
.product-sale-badge p{
    font-size: 20px;
}

.col-2.product-page{
    padding: 10px;
    flex-basis: 46%;
}
.review-count{
    font-size: 16px;
    font-weight: 600;
    position: relative;
    bottom: 3px;
}
.review-count:hover{
    color: var(--green);
}
.product-title.product-page{
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    padding-bottom: 20px;
    word-break: break-word;
}
.product-regular-price{
    color: #7A7A7A;
    font-size: 14px;
    display: inline-block;
    text-decoration: line-through;
}
.product-sale-price{
    font-size: 22px;
    display: inline-block;
    color: var(--red);
    font-weight: 600;
}
.free-shipping{
    font-size: 14px;
    font-weight: 600;
}
.delivery-calculator{
    background: #e6f1ec;
    border: 1px solid var(--green);
    color: var(--black);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-weight: 500;
    padding-left: 10px;

}
.delivery-day{
    font-weight: 600;
    animation: nudge 4s linear infinite;
    display: inline-block;
}
.product-page-price{
    padding-bottom: 20px;
}
.product-attributes{
    padding-bottom: 20px;
}
.product-attributes .active{
    border: 1px solid #0f0f0f;
}
.attribute-title{
    font-weight: 600;
    font-size: 12px;  
    padding-bottom: 5px;  
}
.attribute-item{
    padding: 3px;
    border: 1px solid #abaeb4;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}
.attribute-inner{
    padding: 12px;
}
.attribute-inner.size{
    padding: 0px 5px;
}
.offer{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #abaeb4;
    padding: 10px 5px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
}

.offer-price{
    color:var(--red);
    font-weight: 600;
}
.offer-title{
    text-transform: uppercase;
    font-weight: 700;
}
.offer-text{
    font-size: 12px;
    font-weight: 600;
    text-transform: lowercase;
}
.quantity{
    margin-bottom: 15px;
} 
.sidecart-qty-box{
    margin-bottom: 0;
}
.qty-input{
    height: 35px;
    width: 40px;
    border: 1px solid #cac9c9;
    text-align: center;
    margin-left: -5px;
    font-weight: 500;
    cursor: pointer;
}
.quantity button{
    background-color: white;
    border: 1px solid #cac9c9;
    /* padding: 8.5px 6.5px; */
    cursor: pointer;
    height: 35px;
    width: 25px;
    color: var(--black);

}
.quantity button:hover{
    background-color: gray;
}
.quantity button:focus{
    background-color: white;
}
.decrement-btn{
    border-radius: 30px 0px 0px 30px;
}
.increment-btn{
    border-radius: 0px 30px 30px 0px;
    margin-left: -5px;
}
.button-link{
    width: 100%;
}
@keyframes button1 {
    
    0% {
      transform: scale(1.01);
    }
    
    2% {
      transform:scale(1.02);
    }
    
    4% {
      transform: scale(1.05);
    }
    5%{
        transform: scale(1);
    }

    30% {
        transform: scale(1.01);
      }
      
      32% {
        transform:scale(1.02);
      }
      
      34% {
        transform: scale(1.05);
      }
      35%{
          transform: scale(1);
      }

    70% {
        transform: scale(1.01);
      }
      
      72% {
        transform:scale(1.02);
      }
      
      74% {
        transform: scale(1.05);
      }
      75%{
          transform: scale(1);
      }
    
}
@keyframes button2 {
    
    5% {
      transform: scale(1.01);
    }
    
    7% {
      transform:scale(1.02);
    }
    
    9% {
      transform: scale(1.05);
    }
    10%{
        transform: scale(1);
    }
    65% {
        transform: scale(1.01);
      }
      
      67% {
        transform:scale(1.02);
      }
      
      69% {
        transform: scale(1.05);
      }
      70%{
          transform: scale(1);
      }
    
}
.add-to-cartBtn, .variable-add-to-cartBtn{
    width: 100%;
    padding: 0px 16px;
    height: 43px;
    border: 1px solid var(--red);
    border-radius: 30px;
    color: var(--red);
    font-weight: 600;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 14.5px;
    animation: button1 11s linear infinite;
    font-weight: 600
}
.load-spinner{
	display: none;
	width: 20px;
	height: 20px;
	border: 5px solid var(--red);
	border-radius: 100%;
    
}
.open-spinner{
	border-top: 5px solid transparent;
	animation: load-animate infinite linear 1s;
    
}
@keyframes load-animate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
        opacity: .35
    }
    100%{
        transform: rotate(360deg)
    }
}
.addedBtn{
    background-color: var(--red)!important;
    border: 0;
    color: white!important;
}
.proceed-to-checkout{
    width: 100%;
    padding: 0px 16px;
    height: 43px;
    background: var(--red);
    border: 0;
    color: white;
    border-radius: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
    animation: button2 11s linear infinite;
}
.proceed-to-checkout:hover{
    background-color: var(--black);
    transition: 0.3s ease;
}
.toggle-item{
    border: 1px solid #abaeb4;
    border-radius: 30px;
    overflow-y: hidden;
    margin-bottom: 15px;
    cursor: pointer;
    overflow: hidden;
}
.toggle-title{
    padding: 12px 15px;
    text-align: center;
    font-weight: 600;
}

.toggle-content {
    display:none; 
    padding: 12px 15px;
}
.toggle-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    word-break: break-word;
}

.toggle-icon{
    float: right;
}
.toggle-static-link{
    text-decoration: underline;
}
.toggle-static-link:hover{
    color:#B8EB00;
}
.main-toggle{
    display: block;
}

/* EndCheckout */
/* thank you */
    .thank-you{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .thank-you-icon i{
        font-size: 50px;
    }
    .thank-you-heading{
        margin-top: 8px;
        margin-bottom: 16px;
    }
    .order-info{
        display: flex;
    }
    .thank-you-offer{
        
        padding: 0px 10px 20px 10px;
    }
    .thank-you-offer .notice{
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
    .thank-you-offer h3{
        color: var(--red);
    }
    .thank-you-offer h5{
        text-decoration: underline;
    }
    .thankyou-proceed-to-home{
        font-weight: 600;
        padding: 10px;
        color: white;
        background-color: var(--red);
        margin: 0 15vw;
        border-radius: 30px;
    }
    .offer-ttl{
        font-weight: 600;
        font-size: 18px;
    }
    .offer-box{
        border-radius: 10px;
        border: 1px solid #abaeb4;
        padding: 20px;
        margin: 20px;
        display: inline-block;
    }
    .offer-box .rgl_price{
        font-size: 14px;
        font-weight: 500;
        text-decoration: line-through;
        color: var(--regular-price);
        display: inline-block;
    }
    .offer-box .sl_price{
        font-size: 24px;
        font-weight: 600;
        display: inline-block;
        color: var(--red);
        display: inline-block;
    }
    .offer-box .offer-save{
        font-weight: 600;
        font-size: 12px;
        background-color: var(--green);
        padding: 10px 5px;
        border-radius: 5px;
        color: white;
        margin-bottom: 10px;
    }
    .offer-button{
        border-radius: 30px;
        padding: 10px 20px;
        background: var(--red);
        font-weight: 600;
        color: white;
        border: 0;
        cursor: pointer;
    }
    .thank-you-info{
        font-size: 20px;
        font-weight: 500;
    }
    .thank-you-message{
        font-weight: 600;
        font-size: 16px;
    }
    .thank-you-icon.thank-you-message{
        margin-bottom: 16px;
    }
    .order-info{
        margin: 16px 0px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .order-info-item{
        padding: 10px 0px;
        flex-basis: 33%;
        border-radius:10px;
        
    }
    .order-info-title{
        font-weight: 400;
        font-size: 12px;
    }
    .order-info-content{
        font-weight: 700;
        font-size: 16px;
    }
    .order-info div:nth-child(2){
        background-color: var(--green);
        color: white;
    }
    #thank-you-order-review{
        display:flex;
        justify-content: center;
        margin-bottom: 24px;
    }
    .thank-you-table{
        text-align:left;

    }
    .thank-you-table td:nth-child(2) {
        width: 30%;
    }
/* end thankyou */

#reviews{
    padding: 20px 10px 10px 10px;
    border: 1px solid #abaeb4;
    margin: 0px 10px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.reviews-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.reviews-item{
    display:flex;
    flex-basis: 30%;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 10px 20px 10px;
    text-align: left;
    border: 1px solid #ebebeb;
    background: white;
    border-radius: 10px; 
    box-shadow: 0px 4px 36px rgb(32 55 65 / 6%);
    max-width:360px;
    height: 100%;
    
}

.top-row{
    padding: 16px 0px;
    border-bottom: 2px solid #abaeb4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 16px;
    flex-wrap: wrap;
}
.reviewer-initials{
    flex-basis: 56px;
    margin-right: 16px;
    max-width:56px;
    height:56px;
    border-radius: 50px;
    background-color: #f4f4f4;
    line-height: 56px;
    font-size: 28px;
    text-align: center;
}
.reviewer-name{
    font-size: 18px;
    font-weight: 700;
}
.reviews-item .review-image{
    max-width: 360px; 
    width: 100%; 
    border-radius: 10px 10px 0px 0px; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.review-images-count{
    position: absolute;
    max-width: 100%;
    width: 360px;
    height: 60px;
    border-style: none;
    border-radius: 0;
    bottom: 5px;
    background: #20374199;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.middle-row{
    padding: 16px;
    background: #FCFCFC;
    border: 1px solid #F9F9F9;
    border-radius: 6px;
    margin: 0px 15px 15px 15px;
}
.rating-row{
    padding: 17px 0px 12px 0px;
    margin: 0px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
.rating-label{
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #898F92;
}
.review-content{
    font-size: 16px;
    margin-bottom: 12px;
    word-break: break-word;

}
.review-date{
    font-size: 14px;
    font-weight: 300;
}
.rating1, .rating2, .rating3, .rating4, .rating5 {
    font-size: 30px;
}
.rating5 span:nth-child(-n+5)::after{
    content: "\2605";
    color: orange;
}

.rating4 span:nth-child(-n+4)::after{
    content : "\2605";
    color: orange;
}
.rating4 span:nth-child(5)::after{
    content: "\2606";
    color: orange;
}

.rating3 span:nth-child(-n+3)::after{
    content : "\2605";
    color: orange;
}
.rating3 span:nth-child(4)::after,.rating2 span:nth-child(5)::after{
    content: "\2606";
    color: orange;
}
.rating3 span:nth-child(5)::after{
    content: "\2606";
    color: orange;
}
.rating2 span:nth-child(-n+2)::after{
    content : "\2605";
    color: orange;
}
.rating2 span:nth-child(3)::after,.rating2 span:nth-child(4)::after,.rating2 span:nth-child(5)::after{
    content: "\2606";
    color: orange;
}
.rating1 span:nth-child(-n+1)::after{
    content : "\2605";
    color: orange;
}
.rating1 span:nth-child(2)::after,.rating2 span:nth-child(3)::after,.rating2 span:nth-child(4)::after,.rating2 span:nth-child(5)::after{
    content: "\2606";
    color: orange;
}

.rating{
    margin-bottom: 16px;
    font-size: 24px;
    margin-left: 10px;
}
.rating span{
    margin-left: -10px;
}
.list-ratings{
    margin-bottom: 4px;
    margin-top: -9px;    
}
.review-product-end{
    border-radius: 0px 0px 10px 10px;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #f4f4f4;
    font-weight: 600;
}
#ordered_items_notice{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #abaeb4;
    position: fixed;
    bottom: 50px;
    background-color: white;
}
#ordered_items_notice .product-img{
    width:200px;
}
.ordered_items_notice_details{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    padding: 0 10px;
}
.ordered_items_small{
    font-size: 14px;
}
.ordered_items_big{
    font-weight: 600;
}
.ordered_item_person{
    margin-bottom: 14px;
}
#order_person_product_name{
    padding-bottom: 5px;
}
section#ordered_items_notice_wrapper {
    z-index: 1000000000!important;
}
@media(min-width: 767px){
    .sticky-holder{
        position: sticky!important;
        top: 0px;
    }
    .mobile{
        display: none!important;
    }
    .product-link{
        transition: all .2s ease-in-out; 
    }
    .product-link:hover{
        transform: scale(1.05); 
    }
   .product-link:hover .product-feed-title{
        color: var(--red)
    }
    .slider-product-link{
        transform: none!important;
    }
    .footer-item a:hover{
        color: var(--green);
    }
    .offerBtn:hover{
        background-color: var(--red);
        color: white;
    }
    .thankyou-proceed-to-home{
	margin-bottom: 11px;
    }
    .thankyou-proceed-to-home:hover{
	background-color: var(--black);
	color: white;
    }
    .offer-button:hover{
	background-color: var(--black);
	color: white;
    }	
    .thankumessage-last{
	margin-bottom: 30px;
    }
    .add-to-cartBtn, .variable-add-to-cartBtn, .offerBtn, .fee-add, #place_order, .proceed-to-checkout, .offer-button, .thankyou-proceed-to-home, .attribute-item{
        cursor: pointer;
        transition: all .2s ease-in-out; 
    }
    .add-to-cartBtn:hover, .variable-add-to-cartBtn:hover, .offerBtn:hover, .fee-add:hover, #place_order:hover, .proceed-to-checkout:hover, .offer-button:hover, .thankyou-proceed-to-home:hover, .attribute-item:hover{
        transform: scale(1.05); 
        font-weight: 700;
    }
    .checkout-offerBtn:hover, #place_order:hover, .thankyou-proceed-to-home:hover{
        background: var(--black)!important;
    }
    
    .fee-add:hover, .offer-button:hover, .checkout-offerBtn:hover{
        background: var(--red)!important;
        color: white!important;
    }
    .fee-title{
        cursor: pointer;
        transition: all .2s ease-in-out; 
    }
    .fee-title:hover{
        transform: scale(1.02); 
        color: var(--green)
    }
	
}

@media (max-width: 767px){
    .verified-product-image{
        width: 100vw;
    }
    .product-sale-badge{
        right: -5%;
        width: 58px;
        height: 58px;
    }
    .product-sale-badge p{
        font-size: 18px;
    }
    .desktop{
        display: none!important;
    }
    .slider-holder{
        width: 100%;
    }
    .wrapper{
        width: 100%;
    }
    .carousel img{
        width: 100%;
    }
    #header-banner .banner-text{
        font-size: 0.7em;
    }
    #sidecart{
        width: 100%;
    }
    .sidecart-inner{
        width: 100vw;
    }
    #header{
        justify-content: flex-start;
        height: 12vh;
    }
    .inner-header{
        width:100%;
    }
    .inner-header.checkout{
        width: 100%;
        justify-content: center;
    }
    .header-logo-container.checkout{
        flex-grow: 0;
    }
    .header-logo-container{
        flex-grow: 2
    }
    .header-logo-img{
        width: 150px;
        height: auto;
    }
    .header-icon{
        flex-grow: 0;
        margin-right: 4px;
    }
    .header-search input[type=text]{
        display: none;
        
    }
    .header-info{
	padding: 5px 0px;
	font-size: 12px;
    }
    .header-search button{
        display:none;
    }
   
    .footer-inner{
        flex-direction: column;
    }
    .horizontal-line{
        width: 100%;
    }
    .footer-section p, h4{
        text-align: center;
        line-height: 24px;
        padding: 0px 10px;
    }
    .politika-page{
        max-width:100%;
    }
    .content-container{
        width: 100%;
        gap: 4vw;
        justify-content: center;
    
    }
    .dropdown-select{
        text-align: center!important;
    }
    .dropdown-select .option{
        text-align: center!important;
    }
    .product{
        width: 100%;
        flex-basis: fit-content;
        margin:0;
    }
    .product-feed-thumbnail{
        width: 45vw;
        height: 45vw;
        
    }
    .product-feed-title{
        max-width: 45vw;
    }
    .content-container.checkout{
        padding: 0px 5px;
    }
    .offer{
        width: 32%;
        text-align: center;
    }
    .offer-text{
        font-size: 10px;
    }
    .col-1{
        flex-basis: 100%;
        text-align: center;
    }
    
    .col-2{
        flex-basis: 100%;
        text-align: center;
    }
    .col-2.offer-col{
        height: auto;
    }
    .slider-wrapper{
        margin: 10px;
        padding-top: 0px;
    }
    .slide{
        flex: 1 0 50%;
    }
    .last-stocks-sub-container img{
        height: auto;
    }
    .slide .slider-title{
        height: 15vh;
    }
    
    .col-1 .toggle-col{
        margin: 0!important;
    }
    #FieldList input{
        text-align: center;
    }
    #order_comments{
        height: auto;
    }
    #order_review_heading{
        text-align: center;
    }
    .fee-title{
        text-align: left;
    }
    .place_order-section{
        flex-wrap: wrap;
        justify-content: center;
    }
    .payment-text{
        text-align: center;
    }
    .order-tabs{
        order: 2;
        display: flex;
        text-align: center;
    }
    .order-tabs p{
        padding: 25px 10px 0px 10px;
    }
    .order-review-table td:nth-child(2){
        width: 20%;
        padding: 9px 0px;
        
    }
    .checkout-row-inline{
        max-width: 50%;
    }
    .checkout-row-inline.name{
        max-width: 56%;
        margin-right: 0px;
    }
    .quantity.checkout-row-inline{
        max-width: 50%;
        min-width: 44%;
    }

    .cart-shipping td:nth-child(2){
        padding-right: 5px;
    }
    .no-cart{
        margin-left: auto;
        margin-right: auto;
    }
   
    #place_order{
        order: 1;
        flex-basis: 100%;
        width: 100%;
        font-size: 16px;
    }
    .checkout-dostava-content, .checkout-garancija-content{
        padding: 0 5% 5% 5%;
    }
    .content-container.product-page{
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .col-1.product-page img{
        width: 100%;
        height: 100%;
    }
    .col-1.product-page{
        padding: 0;
        flex-basis: 100%;
	height: 100vw;
    }
    .col-2.product-page{
        padding-top: 0;
        flex-basis: 100%;
    }
    #order_comments[placeholder]{
        text-align: center;
        font-size: 10px;
    }
    .content-container.checkout{
        padding-bottom: 30px;
    }
    .product-savings{
        padding: 5px 20px;
	    margin-bottom: 5px;
        
    }
    .delivery-calculator{
        padding: 5px;
    }
    .badge-text{
        min-height: 30px;
    }
     .slick-next{
        right: 0;
    }
    .slider-wrapper .slick-prev, .slider-wrapper .slick-next{
        border: 1px solid #abaeb4;
        border-radius: 5px;
        top: 20%;
    }
    .slider-wrapper .slick-next{
        right: 5px;
    }
    #ordered_items_notice{
        width: 98%;
        border-radius: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
    #ordered_items_notice .product-img{
        width: 100px;
        margin-left: 10px;
    }
    .ordered_items_notice_details{
        height: 100%;
    }
    #ordered_items_notice .product-sale-price{
        font-size: 18px;
    }
    .ordered_items_notice_details{
        padding: 10px;
    }
    .ordered_item_person{
        margin-bottom: 5px;
    }
}

@media (max-width: 320px){
    #header-banner .banner-text{
        font-size: 0.6em;
    }
    slide .slider-title{
        height: 20vh;
    }
    .header-info{
    	font-size: 10px;
     }
    .offer-box img{
	width: 210px;
	height: 210px;
     }
    .product-sale-badge{
        right: -1%;

    }

}
@media(max-width:34em){
    .main{
      min-width:150px;
      width:auto;
    }
  }











.gallery-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50px;
    
  }

  .gallery-container {
    width: 100%;
    /* width: 100%; ##PC##*/
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gallery-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 5rem;
    background-color: white;
    border: 1px solid #abaeb4;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;

    transition: opacity 200ms;
    border-radius: 5px;
  }

  .gallery-arrow:hover,
  .gallery-arrow:focus {
    opacity: 1;
    box-shadow: 1px 1px 4px 0px #888888;
  }

  .gallery-arrow-prev {
    padding-top: 0.3rem;
    padding-left: 0.4rem;
  }

  .sgallery-arrow-next {
    right: 0;
    padding-top: 0.3rem;
    padding-left: 0.6rem;

  }

  .gallery-slide {
    width: 500px;
    height: 50%;
    flex: 1 0 25%; 
    text-align: center;
    /* flex: 1 0 50%; ##PHONE##  */
    /* flex: 1 0 25%; ##PC##  */

  }

  /* Stocks Container  */

  .gallery-image-container {
    display: flex;
    /* align-items: center; */
  }
  .gallery-image-container {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .gallery-image-container img {
    object-fit: contain;
    height: 250px;
  }

.mobile-search{
    position: fixed;
    top: 50%;
    background: transparent;  
    z-index: 100000;
    padding: 10px 5px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    text-align: center;
    box-shadow: inset 3px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.mobile-search:focus{
    outline: 0!important;
}
.mobile-search::placeholder{
    color: white;
    font-weight: 600;
}
.mobile-search.disabled{
    display:none;
}
@media(min-width: 321px){
.small{
    display:none;
}
}
@media(max-width: 321px){
    .above-small{
        display:none;
    }
}
.fb_mpn_mobile_landing_page_slide_up{
    bottom: 60px!important;
    z-index: 214783646!important;
}

.main-toggle h1{
    margin: 21.4px 0px;
}
.main-toggle h2{
   margin: 19.9px 0px; 
}
.main-toggle h3{
    margin: 18.7px 0px;
}
.main-toggle h4{
    margin: 21.2px 0px;
}
.main-toggle h5{
    margin: 22.1px 0px;
}
.main-toggle h6{
    margin: 25px 0px;
}
.main-toggle pre{
    margin: 16px 0px;
}
.main-toggle p{
    margin: 16px 0px;
}   
.main-toggle ul{
    margin: 0;
}
.main-toggle ul p{
    margin: 0;
}
.main-toggle ol{
    margin: 0;
}
.main-toggle ol p{
    margin: 0;
}
