{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    {% if title %}
        <title>{{ title }} - GreenGoShop</title>
    {% else %}
        <title>Почетна</title>
    {% endif %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=" {% static 'shop/css/main_minified.css' %} ">
    
</head>
<body>
    
    {% include "shop/includes/header.html" %} 
    <nav id="navigation">
        <ul>
            <li class="navigation-item"><a href="{% url 'shop-home' %}" class="navigation-title">ПОЧЕТНА</a></li>
            {% for category in categories %}
            <li class="navigation-item"><a href="{% url 'category-page' category.slug %}" class="navigation-title">{{ category.name }}</a></li>
            <!-- <li class="navigation-item"><a href="" class="navigation-title">НАЈПРОДАВАНИ</a></li>
            <li class="navigation-item"><a href="" class="navigation-title">ДОМАЌИНСТВО</a></li>
            <li class="navigation-item"><a href="" class="navigation-title">КУЈНСКИ АПАРАТИ</a></li>
            <li class="navigation-item"><a href="" class="navigation-title">ЗДРАВЈЕ И УБАВИНА</a></li>
            <li class="navigation-item"><a href="" class="navigation-title">ГРАДИНА</a></li> -->
            {% endfor %}
        </ul>
    </nav>
    <div class="page-container">
    {% block content %}{% endblock content %}
    
    <div class="lightbox">
        <form action="{% url 'search_results' %}" method="get" class="mobile disabled">
        <span class="close-search">&#10006;</span>
        <input type="text" name="q"  placeholder="Пребарај ги сите производи" class="mobile-search">
        </form>
    </div>
        
    </div>
    </div>
    {% include "shop/includes/footer.html" %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="{%  static 'shop/js/main_minified.js' %}"></script>
    {% block scripts%}{% endblock scripts %}
</body>
</html>
