{% extends "shop/base.html" %}
{% load static %}
{% block metatags %}
<meta property="og:image" content="https://promotivno.mk{% static 'icons/logo_meta_tag.webp' %}" />
{% endblock metatags %}
{% block content %}
<style>body #fb-root{display:none!important}#footer,.footer-section{display:none}.red{border-color:red}#ordered_items_notice_wrapper{visibility:hidden}</style>
{% if cart %}
    
    <form action="{% url 'placeorder' %}" method="POST" class="content-container checkout" aria-label="Комплетирај нарачка">
        {% csrf_token %}
        {% if cartOffers %}
            <div class="checkout-offers mobile">
                <p class="checkoutOffers-title">Често купувани заедно</p>
            {% for item in cartOffers %}
                <div class="sidecart-item checkout-offerItem mobile product_data">
                    <input type="hidden" class="prod_id" value="{{ item.product_id }}">
                    <input type="hidden" class="offer_price" value="{{ item.price }}">
                    <img src="{{ item.product.thumbnail.url }}" alt="" width="70" height="70" class="cart-item-thumbnail">
                    <span class="sidecart-item-content checkoutItem-content">
                        <p class="sidecart-item-name prod_title_tracker">{{ item.product.title }}</p>
                        <div class="checkout-offer-qty-holder">
                        <p class="sidecart-item-quantity checkout-item-before-price">{{ item.product.regular_price }} ден</p>
                        <span class="green"><span>{{ item.price }}</span> ден</span>
                        </div>
                        <p class="checkoutOffer-text">{{ item.offer_text }}</p>
                        
                    </span>
                    {% if item.is_added == True %}
                        <button class="checkout-offerBtn addedBtn offerBtn">ДОДАДЕН</button>
                    {% else %}
                        <button class="checkout-offerBtn offerBtn">ДОДАЈ</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        <div class="col-1 checkoutform">
            
            <h3 class="checkout-title">Податоци за испорака</h3>
            
                <ul id="FieldList">
                    <li><label for="name">Име и Презиме <abbr title="required" class="required">*</abbr></label>
                    <input type="text" required name="name" id="checkout_input_name"></li>

                    <li><label for="country">Држава/Регион <abbr title="required" class="required">*</abbr></label>
                    <input type="text" required name="country" value="Р. Северна Македонија"></li>

                    <li><label for="address">Адреса <abbr title="required" class="required">*</abbr></label>
                    <input type="text" required name="address" id="checkout_input_address"></li>

                    <li><label for="city">Град/Село <abbr title="required" class="required">*</abbr></label>
                    <input type="hidden" required name="city" placeholder="Одберете град" class="checkout-city" value="Undefined">
                    <div class="dropdownsearch">
                        <div class="options">
                          <select name="" id="dynamic_select">              
                              <option value="Одбери град" fake-name="Одбери град">Одбери град</option>
                              <option value="Аеродром" fake-name="Aerodrom">Аеродром</option>
                              <option value="Арачиново" fake-name="Aracinovo">Арачиново</option>
                              <option value="Берово" fake-name="Berovo">Берово</option>
                              <option value="Битола" fake-name="Bitola">Битола</option>
                              <option value="Богданци" fake-name="Bogdanci">Богданци</option>
                              <option value="Бутел" fake-name="Butel">Бутел</option>
                              <option value="Валандово" fake-name="Valandovo">Валандово</option>
                              <option value="Велес" fake-name="Veles">Велес</option>
                              <option value="Виница" fake-name="Vinica">Виница</option>
                              <option value="Гази Баба" fake-name="Gazi Baba">Гази Баба</option>
                              <option value="Гевгелија" fake-name="Gevgelija">Гевгелија</option>
                              <option value="Гостивар" fake-name="Gostivar">Гостивар</option>
                              <option value="Дебар" fake-name="Debar">Дебар</option>
                              <option value="Делчево" fake-name="Delcevo">Делчево</option>
                              <option value="Демир Капија" fake-name="Demir Kapija">Демир Капија</option>
                              <option value="Демир Хисар" fake-name="Demir Hisar">Демир Хисар</option>
                              <option value="Дојран" fake-name="Dojran">Дојран</option>
                              <option value="Ѓорче Петров" fake-name="Gjorce Petrov">Ѓорче Петров</option>
                              <option value="Зелениково" fake-name="Zelenikovo">Зелениково</option>
                              <option value="Илинден" fake-name="Ilinden">Илинден</option>
                              <option value="Кавадарци" fake-name="Kavadarci">Кавадарци</option>
                              <option value="Карпош" fake-name="Karpos">Карпош</option>
                              <option value="Кисела Вода" fake-name="Kisela Voda">Кисела Вода</option>
                              <option value="Кичево" fake-name="Kichevo">Кичево</option>
                              <option value="Кочани" fake-name="Kocani">Кочани</option>
                              <option value="Кратово" fake-name="Kratovo">Кратово</option>
                              <option value="Крива Паланка" fake-name="Kriva Palanka">Крива Паланка</option>
                              <option value="Крушево" fake-name="Krusevo">Крушево</option>
                              <option value="Куманово" fake-name="Kumanovo">Куманово</option>
                              <option value="Маврово" fake-name="Mavrovo">Маврово</option>
                              <option value="Македонска Каменица" fake-name="Makedonska Kamenica">Македонска Каменица</option>
                              <option value="Македонски Брод" fake-name="Makedonski Brod">Македонски Брод</option>
                              <option value="Неготино" fake-name="Negotino">Неготино</option>
                              <option value="Охрид" fake-name="Ohrid">Охрид</option>
                              <option value="Петровец" fake-name="Petrovec">Петровец</option>
                              <option value="Пехчево" fake-name="Pehcevo">Пехчево</option>
                              <option value="Прилеп" fake-name="Prilep">Прилеп</option>
                              <option value="Пробиштип" fake-name="Probistip">Пробиштип</option>
                              <option value="Радовиш" fake-name="Radovis">Радовиш</option>
                              <option value="Ресен" fake-name="Resen">Ресен</option>
                              <option value="Сарај" fake-name="Saraj">Сарај</option>
                              <option value="Свети Николе" fake-name="Sveti Nikole">Свети Николе</option>
                              <option value="Скопје" fake-name="Skopje">Скопје</option>
                              <option value="Сопиште" fake-name="Sopiste">Сопиште</option>
                              <option value="Струга" fake-name="Struga">Струга</option>
                              <option value="Струмица" fake-name="Strumica">Струмица</option>
                              <option value="Студеничани" fake-name="Studenicani">Студеничани</option>
                              <option value="Тетово" fake-name="Tetovo">Тетово</option>
                              <option value="Центар" fake-name="Centar">Центар</option>
                              <option value="Чаир" fake-name="Cair">Чаир</option>
                              <option value="Чучер-Сандево" fake-name="Cucer Sandevo">Чучер-Сандево</option>
                              <option value="Штип" fake-name="Stip">Штип</option>
                              <option value="Шуто Оризари" fake-name="Suto Orizari">Шуто Оризари</option>
                        </select>
                        </div>
                    </div>
                    </li>

                    <li><label for="number">Телефонски број <abbr title="required" class="required">*</abbr></label>
                        <input type="tel" placeholder="формат: 07X-XXX-XXX"required name="number" id="checkout_input_phone"></li>
                </ul>
            
        </div>
        <div class="col-2 offer-col">
            <div class="">
                <h5 class="checkout-title">Коментар за достава</h5>
                <textarea name="order_comments" id="order_comments" cols="5" rows="2" placeholder="Внесете коментар за достава доколку имате специфични барања за испорака на вашата пратка"></textarea>
            </div>
            {% if cartOffers %}
            <div class="checkout-offers desktop">
                <p class="checkoutOffers-title">Често купувани заедно</p>
                {% for item in cartOffers %}
                
                    <div class="sidecart-item checkout-offerItem desktop product_data">
                        <input type="hidden" class="prod_id" value="{{ item.product_id }}">
                        <input type="hidden" class="offer_price" value="{{ item.price }}">
                        <img src="{{ item.product.thumbnail.url }}" alt="" width="70" height="70" class="cart-item-thumbnail">
                        <span class="sidecart-item-content checkoutItem-content">
                            <p class="sidecart-item-name prod_title_tracker">{{ item.product.title }}</p>
                            <div class="checkout-offer-qty-holder">
                            <p class="sidecart-item-quantity checkout-item-before-price">{{ item.product.regular_price }} ден</p>
                            <span class="green"><span>{{ item.price }}</span> ден</span>
                            </div>
                            <p class="checkoutOffer-text">{{ item.offer_text }}</p>
                            
                        </span>
                        {% if item.is_added == True %}
                         <button class="checkout-offerBtn addedBtn offerBtn">ДОДАДЕН</button>
                        {% else %}
                            <button class="checkout-offerBtn offerBtn">ДОДАЈ</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

    <div class="col-1 checkoutform checkout-fees-container">
        {% if orderFees %}
            {% for fee in orderFees %}
                {% if fee.is_added == True %}
                <div class="checkout-fees fee_data active">
                    {% else %}
                    <div class="checkout-fees fee_data">
                {% endif %}
                    <input type="hidden" class="fee_id" value="{{ fee.id }}">
                    <span class="fee-toggle"><p class="fee-title"><span class="fee-icon">&#8250;</span>{{ fee.title }}</p></span>
                    <p class="fee-price"><span class="fee-span">{{ fee.price}}</span>ден.</p>
                    {% if fee.is_added == True %}
                    <button class="fee-add addedBtn">ДОДАДЕН</button>
                    {% else %}
                    <button class="fee-add">ДОДАЈ</button>
                    {% endif %}
                    <p class="fee-description">{{ fee.content }}</p>    
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
        <h3 id="order_review_heading">Вашата Нарачка</h3>
        <div id="order_review">
            <table class="order-review-table cart-data">
                <input type="hidden" value="{{ cart.count }}" id="cart_items_count">
                <thead>
                    <tr>
                        <td>Продукт</td>
                        <td>Цена</td>
                </thead>
                <tbody >
                {% for item in cart %}
                <tr class="cart-item-row product-row">
                    <td class="cart-item product_data" style="padding: 9px 12px;display:flex;justify-content:flex-start;align-items: center;">
                        <input type="hidden" class="prod_id" value="{{ item.product_id }}">
                        
                        {% csrf_token %}
                        <div class="checkout-row-inline name">
                            <img src="{{ item.product.thumbnail.url }}" alt="" width="45" height="45">
                            {% if item.has_attributes %}
                                <input type="hidden" class="attrib_id" name="atribute_id" value="{{ item.attribute_id }}">
                                <p class="item-name" style="display:inline-block;">{{ item.product.title }}{{ item.attributename }}</p>
                            {% else %}
                            <p class="item-name" style="display:inline-block;">{{ item.product.title }}</p>
                            {% endif %}
                            <div>
                                <strong class="product-quantity">x {{ item.product_qty }}</strong>
                                <span class="remove-item">ОТСТРАНИ</span>
                            </div>   
                        </div>
                        <div class="quantity checkout-row-inline">
                            <button class="changeQuantity decrement-btn">-</button>
                            <input type="text" name="quantity" class="qty-input" value="{{ item.product_qty }}">
                            <button class="changeQuantity increment-btn">+</button>
                            
                        </div>
                                 
                    </td>
                    
                        
                    {% if item.has_attributes %}
                    <td class="cart-item-total-row">
                        <p class="item-total"><span>{{ item.attributeprice }}</span> ден</p>
                    </td>
                    {% elif item.has_offer %}
                    <td class="cart-item-total-row">
                        <p class="item-total">{{ item.offer_price }} ден</p>
                    </td>
                    {% else %}
                    <td class="cart-item-total-row">
                        <p class="item-total"><span>{{ item.product.sale_price }}</span> ден</p>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    {% if cartFees %}
                        {% for fee in cartFees %}
                        <tr class="cart-fees"> 
                            <td>
                                <p>{{ fee.title }}</p>
                                
                            </td>
                            <td>
                                <p>{{ fee.price }} ден</p>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    <tr class="cart-subtotal"> 
                        <td>
                            <p>Цена</p>
                        </td>
                        <td>
                            <p>{{ cart_total|add:feetotal }} ден</p>
                        </td>
                    </tr>
                    <tr class="cart-shipping">
                        <td>
                            <p>Достава</p>
                        </td>
                        <td>
                            {% if free_shipping %}
                            <p class="cart-shipping-method">Бесплатна достава</p>
                            {% else %}
                            <p class="cart-shipping-method">До врата - 130ден</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="cart-provision">
                        <td>
                            <p>Провизија</p>
                        </td>
                        <td>
                            <p class="cart-provision-sum">30 ден</p>
                        </td>
                    </tr>
                    <tr class="cart-total">
                        <td>
                            <p>Вкупно</p>
                        </td>
                        <td>
                            {% if free_shipping %}
                            <p><span class="cart-total-span">{{ cart_total|add:feetotal|add:'30' }}</span> ден</p>
                            {% else %}
                            <p><span class="cart-total-span">{{ cart_total|add:feetotal|add:'130'|add:'30' }}</span> ден</p>
                            {% endif %}
                        </td>
                    </tr>
                </tfoot>
                
            </table>
        </div>
        
        <div id="payment">
            <div class="payment-text">
                <p class="payment-info">Плаќање при достава (+30 ден. провизија)</p>
                <p class="payment-method">Плати на врата при подигање на нарачката</p>
            </div>
            <div class="place_order-section">
                <span class="order-tabs">
                <p class="checkout-dostava">ПОЛИТИКА НА ДОСТАВА</p>
                <p class="checkout-garancija">ГАРАНЦИЈА ЗА ЗАМЕНА</p>
                </span>
                <button type="submit" id="place_order">НАРАЧАЈ</button>
            </div>
        </div>
        <p class="checkout-dostava-content">1.1. Вашата нарачка ќе биде доставена за 2-4 работни денови на вашата адреса.<br />1.2. Доставувачот е задолжен да ве побара 1 час порано пред да ја достави Вашата пратка.<br />1.3. Во случај производот да биде оштетен, пријавете на нашиот телефонски број во рок од 15 дена од денот на подигање.</p>
        <p class="checkout-garancija-content">Производот е различен од сликата? Контактирајте не на нашиот телефонски број или на нашата е-маил адреса најкасно 15 дена од денот на подигање на нарачката. Нашиот тим веднаш ќе реагира!</p>
    </form>

{% else %}
<div class="content-container checkout">
    <div class="no-cart">
        <h2 class="no-cart-title">Немате производи во кошничка</h2>
        <a href="{% url 'shop-home' %}" class="no-cartBtn">Врати ме на почетна</a>
    </div>
</div>
{% endif %}

{% endblock content %}
{% block scripts %}
<script src="{%  static 'shop/js/checkout_minified.js' %}"></script>
{% endblock scripts %}
 
