{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<style>#footer{display:none;}.footer-section{display:none;}.dropdownsearch{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .options{
    width:100%;  
  }
  @media(max-width:34em){
    .main{
      min-width:150px;
      width:auto;
    }
  }
  
  select {
      display: none !important;
  }
  
  .dropdown-select {
      background-color: #fff;
      border-radius: 30px;
      border: solid 1px #abaeb4;
      cursor: pointer;
      display: block;
      font-size: 14px;
      font-weight: normal;
      height: 34px;
      line-height: 30px;
      outline: none;
      padding-left: 16px;
      padding-right: 30px;
      position: relative;
      text-align: left !important;
      transition: all 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      width: auto;
  
  }
  
  .dropdown-select:focus {
      background-color: #fff;
  }
  
  .dropdown-select:hover {
      background-color: #fff;
  }
  
  .dropdown-select:active,
  .dropdown-select.open {
      background-color: #fff !important;
      border-color: #abaeb4;;
  }
  
  .dropdown-select:after {
      height: 0;
      width: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #abaeb4;
      -webkit-transform: origin(50% 20%);
      transform: origin(50% 20%);
      transition: all 0.125s ease-in-out;
      content: '';
      display: block;
      margin-top: -2px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 50%;
  }
  
  .dropdown-select.open:after {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }
  
  .dropdown-select.open .list {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
  }
  
  .dropdown-select.open .option {
      cursor: pointer;
  }
  
  .dropdown-select.wide {
      width: 100%;
  }
  
  .dropdown-select.wide .list {
      left: 0 !important;
      right: 0 !important;
  }
  
  .dropdown-select .list {
      box-sizing: border-box;
      transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
      background-color: #fff;
      border-radius: 6px;
      margin-top: 4px;
      padding: 3px 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      max-height: 250px;
      overflow: auto;
      border: 1px solid #ddd;
  }
  
  .dropdown-select .list:hover .option:not(:hover) {
      background-color: transparent !important;
  }
  .dropdown-select .dd-search{
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0.5rem;
  }
  
  .dropdown-select .dd-searchbox{
    width:90%;
    padding:0.5rem;
    border:1px solid #abaeb4;
    border-color:#abaeb4;
    border-radius:4px;
    outline:none;
  }
  .dropdown-select .dd-searchbox:focus{
    border-color: #b8eb00!important;
  }
  
  .dropdown-select .list ul {
      padding: 0;
  }
  
  .dropdown-select .option {
      cursor: default;
      font-weight: 400;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 29px;
      text-align: left;
      transition: all 0.2s;
      list-style: none;
  }
  
  .dropdown-select .option:hover,
  .dropdown-select .option:focus {
      background-color: #abaeb4 !important;
  }
  
  .dropdown-select .option.selected {
      font-weight: 600;
      color: #b8eb00;
  }
  
  .dropdown-select .option.selected:focus {
        background-color: #f6f6f6 !important;
  }
  
  .dropdown-select a {
      color: #aaa;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
  }
  
  .dropdown-select a:hover {
      color: #666;
  }
  @media (max-width: 767px){
    .dropdown-select{
        text-align: center!important;
    }
    .dropdown-select .option{
        text-align: center!important;
    }
  }</style>
{% if cart %}
    
    <form action="{% url 'placeorder' %}" method="POST" class="content-container checkout" aria-label="Комплетирај нарачка">
        {% csrf_token %}
        {% if cartOffers %}
            <div class="checkout-offers mobile">
                <p class="checkoutOffers-title">Често купувани заедно</p>
            {% for item in cartOffers %}
                <div class="sidecart-item checkout-offerItem mobile product_data">
                    <input type="hidden" class="prod_id" value="{{ item.product_id }}">
                    <input type="hidden" class="offer_price" value="{{ item.price }}">
                    <img src="{{ item.product.thumbnail.url }}" alt="" width="70" height="70" class="cart-item-thumbnail">
                    <span class="sidecart-item-content checkoutItem-content">
                        <p class="sidecart-item-name">{{ item.product.title }}</p>
                        <div class="checkout-offer-qty-holder">
                        <p class="sidecart-item-quantity checkout-item-before-price">{{ item.product.regular_price }} ден</p>
                        <span class="green"><span>{{ item.price }}</span> ден</span>
                        </div>
                        <p class="checkoutOffer-text">{{ item.offer_text }}</p>
                        
                    </span>
                    {% if item.is_added == True %}
                        <button class="checkout-offerBtn addedBtn offerBtn">ДОДАДЕН</button>
                    {% else %}
                        <button class="checkout-offerBtn offerBtn">ДОДАЈ</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        <div class="col-1 checkoutform">
            
            <h3 class="checkout-title">Податоци за испорака</h3>
            
                <ul id="FieldList">
                    <li><label for="name">Име и Презиме <abbr title="required" class="required">*</abbr></label>
                    <input type="text" required name="name"></li>

                    <li><label for="country">Држава/Регион <abbr title="required" class="required">*</abbr></label>
                    <input type="text" required name="country" value="Р. Северна Македонија"></li>

                    <li><label for="address">Адреса <abbr title="required" class="required">*</abbr></label>
                    <input type="text" required name="address"></li>

                    <li><label for="city">Град/Село <abbr title="required" class="required">*</abbr></label>
                    <input type="hidden" required name="city" placeholder="Одберете град" class="checkout-city">
                    <div class="dropdownsearch">
                        <div class="options">
                          <select name="" id="dynamic_select">              
                              <option value="return" selected>Одбери град</option>
                              <option value="Скопје">Скопје</option>
                              <option value="Битола">Битола</option>
                              <option value="Куманово">Куманово</option>
                              <option value="Прилеп">Прилеп</option>
                              <option value="Тетово">Тетово</option>
                              <option value="Штип">Штип</option>
                              <option value="Свети Николе">Свети Николе</option>
                              <option value="Кратово">Кратово</option>
                              <option value="Пробиштип">Пробиштип</option>
                              <option value="Кочани">Кочани</option>
                              <option value="Пехчево">Пехчево</option>
                              <option value="Делчево">Делчево</option>
                              <option value="Виница">Виница</option>
                              <option value="Берово">Берово</option>
                              <option value="Македонска Каменица">Македонска Каменица</option>
                              <option value="Велес">Велес</option>
                              <option value="Кавадарци">Кавадарци</option>
                              <option value="Демир Капија">Демир Капија</option>
                              <option value="Неготино">Неготино</option>
                              <option value="Гевгелија">Гевгелија</option>
                              <option value="Валандово">Валандово</option>
                              <option value="Богданци">Богданци</option>
                              <option value="Дојран">Дојран</option>
                              <option value="Радовиш">Радовиш</option>
                              <option value="Струмица">Струмица</option>
                              <option value="Струга">Струга</option>
                              <option value="Крушево">Крушево</option>
                              <option value="Демир Хисар">Демир Хисар</option>
                              <option value="Охрид">Охрид</option>
                              <option value="Ресен">Ресен</option>
                              <option value="Македонски Брод">Македонски Брод</option>
                              <option value="Кичево">Кичево</option>
                              <option value="Гостивар">Гостивар</option>
                              <option value="Дебар">Дебар</option>
                              <option value="Маврово">Маврово</option>
                              <option value="Крива Паланка">Крива Паланка</option>
                        </select>
                        </div>
                    </div>
                    </li>

                    <li><label for="number">Телефонски број <abbr title="required" class="required">*</abbr></label>
                        <input type="tel" placeholder="формат: 072-256-393"required name="number"></li>
                </ul>
            
        </div>
        <div class="col-2 offer-col">
            <div class="">
                <h5 class="checkout-title">Коментар за достава</h5>
                <textarea name="order_comments" id="order_comments" cols="5" rows="2" placeholder="Внесете коментар за достава доколку имате специфични барања за испорака на вашата пратка"></textarea>
            </div>
            {% if cartOffers %}
            <div class="checkout-offers desktop">
                <p class="checkoutOffers-title">Често купувани заедно</p>
                {% for item in cartOffers %}
                
                    <div class="sidecart-item checkout-offerItem desktop product_data">
                        <input type="hidden" class="prod_id" value="{{ item.product_id }}">
                        <input type="hidden" class="offer_price" value="{{ item.price }}">
                        <img src="{{ item.product.thumbnail.url }}" alt="" width="70" height="70" class="cart-item-thumbnail">
                        <span class="sidecart-item-content checkoutItem-content">
                            <p class="sidecart-item-name">{{ item.product.title }}</p>
                            <div class="checkout-offer-qty-holder">
                            <p class="sidecart-item-quantity checkout-item-before-price">{{ item.product.regular_price }} ден</p>
                            <span class="green"><span>{{ item.price }}</span> ден</span>
                            </div>
                            <p class="checkoutOffer-text">{{ item.offer_text }}</p>
                            
                        </span>
                        {% if item.is_added == True %}
                         <button class="checkout-offerBtn addedBtn offerBtn">ДОДАДЕН</button>
                        {% else %}
                            <button class="checkout-offerBtn offerBtn">ДОДАЈ</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

    <div class="col-1 checkoutform checkout-fees-container">
        {% if orderFees %}
            {% for fee in orderFees %}
                {% if fee.is_added == True %}
                <div class="checkout-fees fee_data active">
                    {% else %}
                    <div class="checkout-fees fee_data">
                {% endif %}
                    <input type="hidden" class="fee_id" value="{{ fee.id }}">
                    <span class="fee-toggle"><p class="fee-title"><span class="fee-icon">&#8250;</span>{{ fee.title }}</p></span>
                    <p class="fee-price"><span class="fee-span">{{ fee.price}}</span>ден.</p>
                    {% if fee.is_added == True %}
                    <button class="fee-add addedBtn">ДОДАДЕН</button>
                    {% else %}
                    <button class="fee-add">ДОДАЈ</button>
                    {% endif %}
                    <p class="fee-description">{{ fee.content }}</p>    
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
        <h3 id="order_review_heading">Вашата Нарачка</h3>
        <div id="order_review">
            <table class="order-review-table cart-data">
                <thead>
                    <tr>
                        <td>Продукт</td>
                        <td>Цена</td>
                </thead>
                <tbody >
                {% for item in cart %}
                <tr class="cart-item-row product-row">
                    <td class="cart-item product_data" style="padding: 9px 12px;display:flex;justify-content:flex-start;align-items: center;">
                        <input type="hidden" class="prod_id" value="{{ item.product_id }}">
                        
                        {% csrf_token %}
                        <div class="checkout-row-inline name">
                            <img src="{{ item.product.thumbnail.url }}" alt="" width="45" height="45">
                            {% if item.has_attributes %}
                                <input type="hidden" class="attrib_id" name="atribute_id" value="{{ item.attribute_id }}">
                                <p class="item-name" style="display:inline-block;">{{ item.product.title }}{{ item.attributename }}</p>
                            {% else %}
                            <p class="item-name" style="display:inline-block;">{{ item.product.title }}</p>
                            {% endif %}
                            <div>
                                <strong class="product-quantity">x {{ item.product_qty }}</strong>
                                <span class="remove-item">ОТСТРАНИ</span>
                            </div>   
                        </div>
                        <div class="quantity checkout-row-inline">
                            <button class="changeQuantity decrement-btn">-</button>
                            <input type="text" name="quantity" class="qty-input" value="{{ item.product_qty }}">
                            <button class="changeQuantity increment-btn">+</button>
                            
                        </div>
                                 
                    </td>
                    
                        
                    {% if item.has_attributes %}
                    <td class="cart-item-total-row">
                        <p class="item-total"><span>{{ item.attributeprice }}</span> ден</p>
                    </td>
                    {% elif item.has_offer %}
                    <td class="cart-item-total-row">
                        <p class="item-total">{{ item.offer_price }} ден</p>
                    </td>
                    {% else %}
                    <td class="cart-item-total-row">
                        <p class="item-total"><span>{{ item.product.sale_price }}</span> ден</p>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    {% if cartFees %}
                        {% for fee in cartFees %}
                        <tr class="cart-fees"> 
                            <td>
                                <p>{{ fee.title }}</p>
                                
                            </td>
                            <td>
                                <p>{{ fee.price }} ден</p>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    <tr class="cart-subtotal"> 
                        <td>
                            <p>Цена</p>
                        </td>
                        <td>
                            <p>{{ cart_total|add:feetotal }} ден</p>
                        </td>
                    </tr>
                    <tr class="cart-shipping">
                        <td>
                            <p>Достава</p>
                        </td>
                        <td>
                            {% if free_shipping %}
                            <p class="cart-shipping-method">Бесплатна достава</p>
                            {% else %}
                            <p class="cart-shipping-method">До врата - 130ден</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="cart-provision">
                        <td>
                            <p>Провизија</p>
                        </td>
                        <td>
                            <p class="cart-provision-sum">20 ден</p>
                        </td>
                    </tr>
                    <tr class="cart-total">
                        <td>
                            <p>Вкупно</p>
                        </td>
                        <td>
                            {% if free_shipping %}
                            <p>{{ cart_total|add:feetotal|add:'20' }} ден</p>
                            {% else %}
                            <p>{{ cart_total|add:feetotal|add:'130'|add:'20' }} ден</p>
                            {% endif %}
                        </td>
                    </tr>
                </tfoot>
                
            </table>
        </div>
        
        <div id="payment">
            <div class="payment-text">
                <p class="payment-info">Плаќање при достава (+20 ден. провизија)</p>
                <p class="payment-method">Плати на врата при подигање на нарачката</p>
            </div>
            <div class="place_order-section">
                <span class="order-tabs">
                <p class="checkout-dostava">ПОЛИТИКА НА ДОСТАВА</p>
                <p class="checkout-garancija">ГАРАНЦИЈА ЗА ЗАМЕНА</p>
                </span>
                <button type="submit" id="place_order">НАРАЧАЈ</button>
            </div>
        </div>
        <p class="checkout-dostava-content">1.1. Вашата нарачка ќе биде доставена за 2-4 работни денови на вашата адреса.<br />1.2. Доставувачот е задолжен да ве побара 1 час порано пред да ја достави Вашата пратка.<br />1.3. Во случај производот да биде оштетен, пријавете на нашиот телефонски број во рок од 10 дена од денот на подигање.</p>
        <p class="checkout-garancija-content">Производот е различен од сликата? Контактирајте не на нашиот телефонски број или на нашата е-маил адреса најкасно 10 дена од денот на подигање на нарачката. Нашиот тим веднаш ќе реагира!</p>
    </form>

{% else %}
<div class="content-container checkout">
    <div class="no-cart">
        <h2 class="no-cart-title">Немате производи во кошничка</h2>
        <a href="{% url 'shop-home' %}" class="no-cartBtn">Врати ме на почетна</a>
    </div>
</div>
{% endif %}

{% endblock content %}
{% block scripts %}
<script src="{%  static 'shop/js/checkout_minified.js' %}"></script>
{% endblock scripts %}
 
