<div class="pagination">
    {% if products.has_previous %}
    <a href="?page=1" class="page-numbers paginator-end"><span>&#8612;</span></a>
    <a class="page-numbers paginator-arrow" href="?page={{ products.previous_page_number }}"><span>&#8676;</span></a>
    {% endif %}
    {% for num in products.paginator.page_range %}
        {% if products.number == num %}
            <a href="?page{{ num }}" class="page-numbers page-active">{{ num }}</a>
        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
            <a class="page-numbers"href="?page={{ num }}">{{ num }}</a>
        
        {% endif %}
    {% endfor %}
    {% if products.has_next %}
    <a class="page-numbers paginator-arrow" href="?page={{ products.next_page_number }}"><span>&#8614;</span></span></a>
    <a class="page-numbers paginator-end" href="?page={{ products.paginator.num_pages }}"><span>&#8677;</span></a>
    {% endif %}
</div>